<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Counters Sampler</title>
	</head>
	<body>
		<div id="forms">
			<form id="counter-add">
				<label for="category">Category: </label><input type="text" name="category" />
				<label for="name">Name: </label><input type="text" name="name" />
				<input type="submit" value="Add" />
			</form>

			<form id="vm-select">
				<label for="pid">Attach to: </label><select name="pid"> </select>
				<input type="submit" value="Attach" />
			</form>
		</div> 
		<div id="jit-graphs">
			<h1>JIT</h1>
			<hr/>
		</div>
		<div style="clear:both"/>

		<div id="gc-graphs">
			<h1>GC</h1>
			<hr/>
		</div>
		<div style="clear:both"/>

		<div id="metadata-graphs">
			<h1>Metadata</h1>
			<hr/>
		</div>
		<div style="clear:both"/>

		<div id="generics-graphs">
			<h1>Generics</h1>
			<hr/>
		</div>
		<div style="clear:both"/>

		<div id="security-graphs">
			<h1>Security</h1>
			<hr/>
		</div>
		<div style="clear:both"/>

		<div id="graphs">
			<h1>Other</h1>
			<hr/>
		</div>

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script type="text/javascript">
			google.load('visualization', '1.0', {'packages':['corechart']});
			google.setOnLoadCallback(main);

			function main() {
				var names  = [];
				var data   = {};
				var charts = {};
				var min    = {};
				var max    = {};
				var lastTimestamp = 0;
				var firstTimestamp = 0;

				var TIMESTAMP_UNIT = Math.pow(10, 7);

				var MIN_TIMESTAMP_RANGE =  1 * 60 * TIMESTAMP_UNIT;
				var MAX_TIMESTAMP_RANGE = 10 * 60 * TIMESTAMP_UNIT;

				function UpdateCountersPeriodically() {
					$.ajax ("/counters/last/timestamp")
					 .done(function (json) {
						$.ajax ("/counters/history", { data: { since: Math.max(parseInt(json) - MAX_TIMESTAMP_RANGE, lastTimestamp), limit: 60 * TIMESTAMP_UNIT } })
						 .done(function (json) {
						 	$.each(json, function (timestamp, counters) {
						 		$.each(counters, function (i, counter) {
						 			if (data[counter.name] === undefined)
						 				AddCounter(counter);

						 			var value = parseFloat(counter.value);

									if (value < min[counter.name])
										min[counter.name] = value;

									if (value > max[counter.name])
										max[counter.name] = value;

									data[counter.name].addRow([parseInt(timestamp) / TIMESTAMP_UNIT, value]);

									if (firstTimestamp > 0) {
										var min_ = Math.min(Math.max(lastTimestamp - MAX_TIMESTAMP_RANGE, firstTimestamp), lastTimestamp - MIN_TIMESTAMP_RANGE) / TIMESTAMP_UNIT

										for (var i = data[counter.name].getNumberOfRows() - 1;  i >= 0; i--) {
											if (data[counter.name].getFormattedValue(i, 0) < min_) {
												data[counter.name].removeRow(i);
											}
										}
									}
								});

								if (firstTimestamp == 0)
									firstTimestamp = parseInt(timestamp);

						 		lastTimestamp = parseInt(timestamp);
						 	});

							setTimeout(UpdateCountersPeriodically, 1000);
						});
					});
				}

				function UpdateChartsPeriodically () {
					$.when
					 .apply($, $.map(names, function (v, i) {
					 	if (data[v] === undefined)
					 		return;

						var deferred = $.Deferred();
						setTimeout(function () {
							charts[v].draw(data[v], {title:     v,
				                                     width:     800,
				                                     height:    200,
				                                     lineWidth: 2,
				                                     pointSize: 0,
				                                     vAxis:     {minValue: Math.min(0, min[v]), maxValue: max[v] * 1.1},
				                                     legend:    {position: 'none'},});

					        deferred.resolve();
				        }, 0);
				        return deferred.promise();
					}))
					 .done(function () {
					 	setTimeout(UpdateChartsPeriodically, 1000);
					 });
				}

				UpdateCountersPeriodically();
				UpdateChartsPeriodically();

				$("#forms form#counter-add").submit(function (event) {
					event.preventDefault();

					$.post("/counters", { category: $("#forms form#counter-add input[name=category]").val(), name: $("#forms form#counter-add input[name=name]").val() })
					 .done(function (json) {
					 	console.log("Added counter " + json);
					 });
				});

				$.get("/virtual-machines")
				 .done(function (vms) {
				 	$("#forms form#vm-select select").empty();

				 	$.each(vms, function(i, vm) {
				 		$("#forms form#vm-select select").append('<option value="' + vm.pid + '">' + vm.pid + ' | ' + vm.name + (vm.is_current ? " (current)" : "") + '</option>');
				 	});
				 });

				$("#forms form#vm-select").submit(function (event) {
					event.preventDefault();

					var pid = $("#forms form#vm-select select[name=pid]").val();

					$.post("/virtual-machines/attach/" + pid)
					 .done(function (json) {
						names = [];
						data   = {};
						charts = {};
						min    = {};
						max    = {};
						lastTimestamp = 0;
						firstTimestamp = 0;



					 	alert("Attached to  " + pid);
					 });
				});

				function AddCounter(counter) {
					var id = 'chart-' + counter.index;

					switch (counter.category) {
					case 0:
						$("#jit-graphs").append('<div style="float:left" id="' + id + '"></div>');
						break;
					case 1:
						$("#gc-graphs").append('<div style="float:left" id="' + id + '"></div>');
						break;
					case 2:
						$("#metadata-graphs").append('<div style="float:left" id="' + id + '"></div>');
						break;
					case 3:
						$("#generics-graphs").append('<div style="float:left" id="' + id + '"></div>');
						break;
					case 4:
						$("#security-graphs").append('<div style="float:left" id="' + id + '"></div>');
						break;
					default:
					case 0:
						$("#graphs").append('<div style="float:left" id="' + id + '"></div>');
						break;
					}

					charts[counter.name] = new google.visualization.LineChart(document.getElementById(id));

					data[counter.name] = new google.visualization.DataTable();
					data[counter.name].addColumn('number', 'Timestamp');
					data[counter.name].addColumn('number', counter.name);

			        min[counter.name] =  Number.MAX_VALUE;
			        max[counter.name] = -Number.MAX_VALUE;

			        names.push(counter.name);
				}
			}
		</script>
	</body>
</html>
