<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Counters Sampler</title>
	</head>
	<body>
		<div id="forms">
			<form id="vm-select" style="float:left;padding-bottom:5px">
				<select name="pid"> </select>
				<input type="submit" value="Attach" />
			</form>
			<form id="counter-add" style="float:left;border-left:1px solid black;padding-left:10px;margin-left:10px">
				<select name="counter"> </select>
				<input type="submit" value="Add" />
			</form>
			<div style="clear:both"></div>
		</div> 
		<div id="jit-graphs">
			<h1>JIT</h1>
			<hr/>
		</div>
		<div style="clear:both"/>

		<div id="gc-graphs">
			<h1>GC</h1>
			<hr/>
		</div>
		<div style="clear:both"/>

		<div id="metadata-graphs">
			<h1>Metadata</h1>
			<hr/>
		</div>
		<div style="clear:both"/>

		<div id="generics-graphs">
			<h1>Generics</h1>
			<hr/>
		</div>
		<div style="clear:both"/>

		<div id="security-graphs">
			<h1>Security</h1>
			<hr/>
		</div>
		<div style="clear:both"/>

		<div id="graphs">
			<h1>Other</h1>
			<hr/>
		</div>

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
		<script type="text/javascript">
			google.load('visualization', '1.0', {'packages':['corechart']});
			google.setOnLoadCallback(main);

			function main() {
				var names  = [];
				var data   = {};
				var charts = {};
				var min    = {};
				var max    = {};
				var lastTimestamp = 0;

				var TIMESTAMP_UNIT = Math.pow(10, 7);
				var TIMESTAMP_RANGE = 2 * 60;

				function UpdateCountersPeriodically() {
					$.ajax ("/counters/last/timestamp")
					 .done(function (json) {
						$.ajax ("/counters/history", { data: { since: Math.max(lastTimestamp, parseInt(json) / TIMESTAMP_UNIT - TIMESTAMP_RANGE) * TIMESTAMP_UNIT, limit: 60 * TIMESTAMP_UNIT } })
						 .done(function (json) {
						 	$.each(json, function (timestamp, counters) {
						 		$.each(counters, function (i, counter) {
						 			if (data[counter.name] === undefined)
						 				AddCounter(counter);

						 			var value = parseFloat(counter.value);

									if (value < min[counter.name])
										min[counter.name] = value;

									if (value > max[counter.name])
										max[counter.name] = value;

									data[counter.name].addRow([parseInt(timestamp) / TIMESTAMP_UNIT, value]);

									for (var i = data[counter.name].getNumberOfRows() - 1;  i >= 0; i--) {
										if (data[counter.name].getFormattedValue(i, 0) < lastTimestamp - TIMESTAMP_RANGE) {
											data[counter.name].removeRow(i);
										}
									}
								});

						 		lastTimestamp = parseInt(timestamp) / TIMESTAMP_UNIT;
						 	});

							setTimeout(UpdateCountersPeriodically, 2000);
						});
					});
				}

				function UpdateChartsPeriodically () {
					$.when
					 .apply($, $.map(names, function (v, i) {
					 	if (data[v] === undefined)
					 		return;

						var deferred = $.Deferred();
						setTimeout(function () {
							charts[v].draw(data[v], {title:     v,
				                                     width:     800,
				                                     height:    200,
				                                     lineWidth: 2,
				                                     pointSize: 0,
				                                     hAxis:     {minValue: lastTimestamp - TIMESTAMP_RANGE, maxValue: lastTimestamp },
				                                     vAxis:     {minValue: Math.min(0, min[v]), maxValue: max[v] * 1.1},
				                                     legend:    {position: 'none'},});

					        deferred.resolve();
				        }, 0);
				        return deferred.promise();
					}))
					 .done(function () {
					 	setTimeout(UpdateChartsPeriodically, 2000);
					 });
				}

				UpdateCountersPeriodically();
				UpdateChartsPeriodically();

				$.get("/virtual-machines")
				 .done(function (vms) {
				 	$("#forms form#vm-select select").empty();

				 	$.each(vms, function(i, vm) {
				 		$("#forms form#vm-select select").append('<option value="' + vm.pid + '">' + vm.pid + ' | ' + vm.name + (vm.is_current ? " (current)" : "") + (vm.is_server ? " (server)" : "") + '</option>');
				 	});
				 });

				$("#forms form#vm-select").submit(function (event) {
					event.preventDefault();

					var pid = $("#forms form#vm-select select[name=pid]").val();

					$.post("/virtual-machines/attach/" + pid)
					 .done(function (json) {
						names = [];
						data   = {};
						charts = {};
						min    = {};
						max    = {};
						lastTimestamp = 0;
						firstTimestamp = 0;

					 	alert("Attached to  " + pid);

						UpdateCounters();
					 });
				});

				function UpdateCounters() {
					$.get("/counters")
					 .done(function (json) {
					 	$("#forms form#counter-add select").empty();

					 	$.each(json, function(i, counter) {
					 		$("#forms form#counter-add select").append('<option value="' + counter.category + '/' + counter.name + '">' + counter.category + ' / ' + counter.name + '</option>');
					 	});
					 });
				}

				UpdateCounters();

				$("#forms form#counter-add").submit(function (event) {
					event.preventDefault();

					var value = $("#forms form#counter-add select").val().split("/");

					$.post("/counters", { category: value[0], name: value[1] })
					 .done(function (json) {
					 	if (json.status == 0)
						 	alert("Added counter " + json.counter.category + "/" + json.counter.name);
						else
							alert("Error while addind counter. Status = " + status);
					 });
				});

				function AddCounter(counter) {
					var id = 'chart-' + counter.index;

					switch (counter.category) {
					case "Mono JIT":
						$("#jit-graphs").append('<div style="float:left" id="' + id + '"></div>');
						break;
					case "Mono GC":
						$("#gc-graphs").append('<div style="float:left" id="' + id + '"></div>');
						break;
					case "Mono Metadata":
						$("#metadata-graphs").append('<div style="float:left" id="' + id + '"></div>');
						break;
					case "Mono Generics":
						$("#generics-graphs").append('<div style="float:left" id="' + id + '"></div>');
						break;
					case "Mono Security":
						$("#security-graphs").append('<div style="float:left" id="' + id + '"></div>');
						break;
					default:
						$("#graphs").append('<div style="float:left" id="' + id + '"></div>');
						break;
					}

					charts[counter.name] = new google.visualization.LineChart(document.getElementById(id));

					data[counter.name] = new google.visualization.DataTable();
					data[counter.name].addColumn('number', 'Timestamp');
					data[counter.name].addColumn('number', counter.name);

			        min[counter.name] =  Number.MAX_VALUE;
			        max[counter.name] = -Number.MAX_VALUE;

			        names.push(counter.name);
				}
			}
		</script>
	</body>
</html>
